<section class="index-page">
    <img src={{{image}}} alt="" class="avatar">
    
  <p class="success">
    Hello {{{name}}}
  </p>
  
  
  <button><a href="http://localhost:8000/user/logged/logout">LOGOUT</a></button>
</section>